.body{
  background-color: black;
  color: white;
}

.container {
  padding: 0 2rem;
  background-color: black;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}


.title a {
  color: #0070f3;
  text-decoration: none;
  padding-top: 0.4rem;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #0070f3;
  border-color: #0070f3;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:focus,
.card:active,
.card:hover{
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

/* AuthPage */
.profileLoginCard{
  width: fit-content;
  height: max-content;
  padding: 1rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
  margin: 1rem;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, #797783 0%, #928DAB  51%, #b4b4b4  100%);

}

.profileLoginCardAction{
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.profileSubmitBtn{
  font-size: large;
  font-weight: bold;
}

.profileCardContent{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

}

.profileCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profileDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.profileSegment{
  width: 100%;
  background-color: #F7F6F7;
  color: grey;
  opacity: 0.8;
  font-weight: bolder;
  height: min-content;
}

.profileGrid{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.Loading{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  margin: 0;
  position: absolute;
}

/*navbar*/

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

.hamburger {
  display: none;
  margin-left: 5rem;

}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.navmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.navitem {
  margin-left: 5rem;
}

.navlink{
  font-size: 2rem;
  font-weight: 400;
  color: #475569;
  text-transform: uppercase;
}

/*loading effect*/
.ldsdualring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.ldsdualring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: ldsdualring 1.2s linear infinite;
}
@keyframes ldsdualring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*superAdmin*/

.superAdminCardRoot {
  width:95%;
  height: 80hv;
  margin:1rem;
  margin-right:auto;
  margin-left:auto
}

.superAdminCard {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 480px) {
  .superAdminCard {
    flex-direction: row
  }
}